<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}"/>

  <!-- Facebok Open Graph: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:site_name" content="{{ site_name }}"/>
  <meta property="og:type" content="Simple site featuring tailwind and htmx..."/>
  <meta property="og:title" content="{{ page_title }}"/>
  <meta property="og:description"  content="{{ page_description }}"/>
  <meta property="og:url" content="https://wwww.example.com"/>

  <!-- Favicon! -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />

  <!-- maplibre, v5.7.0 as of 2025-08-29 -->
  <link rel="stylesheet" href="/static/css/maplibre-gl.css" type="text/css" />
  <script type="text/javascript" src="/static/javascript/maplibre-gl.js"></script>
  <script type="text/javascript" src="/static/javascript/sort.js"></script>

  <!-- jquery -->
  <script type="text/javascript" src="/static/javascript/jquery-3.7.1.min.js"></script>

  <!-- htmx -->
  <script type="text/javascript" src="/static/javascript/htmx.min.js"></script>

  <!-- hyperscrpit -->
  <script src="/static/javascript/hyperscript-0.9.14.min.js"></script>

</head>

<body>
  <style type="text/css" id="tag_style">
    {% block tag_css %}
      {% for tag in tags %}
        .{{ tag['name'] | lower | replace(' ','-') }} {
        background-color: {{ tag['color'] }};
        }
      {% endfor %}
   {% endblock %}
  </style>

    {% block header %}
      {% include "/shared/_header.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
      {% include "/shared/_footer.html" %}
    {% endblock %}
</body>
</html>
