<header class="bg-slate-50 text-slate-900">
    <div class="mx-auto flex flex-col justify-between h-full items-center p">
        <nav class="flex flex-row self-start w-full h-15 py-2 items-end border-b border-b-slate-900">
            <div id="links" class="flex flex-row items-center uppercase">
                <a class="px-3 py-1 mx-2 border-b-2 border-b-zinc-400 hover:bg-purple-100 hover:border-b-2 hover:border-b-purple-700 transition-all ease-in-out"
                   href="/">Home</a>
            </div>
        </nav>
        <div class="bg-violet-600 h-full w-full text-slate-50">
            <h1 class="text-4xl font-bold uppercase text-center tracking-wide py-3">A simple map viewer
            </h1>
        </div>
    </div>
</header>
